<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>3962DD42-6B2E-2881-2FB6-B339E96B3A38</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
